<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Experiment Management System</title>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		<script src="{{ url_for('static', filename='scripts/check_progress.js') }}"></script>
	</head>
	<body>
		<h1>Experiment Management System</h1>
		<main>
			<div>
				<form
					id="newJob"
					action="{{url_for('experiment.add_job')}}"
					method="POST"
				>
					<label for="batch-size">Batch size</label>
					<input
						type="text"
						id="batch-size"
						name="batch-size"
						required
					/>

					<label for="learning-rate">Learning rate</label>
					<input
						type="text"
						id="learning-rate"
						name="learning-rate"
						required
					/>

					<label for="number-of-epochs">Number of epochs</label>
					<input
						type="text"
						id="number-of-epochs"
						name="number-of-epochs"
						required
					/>

					<input class="button" value="Add job" type="submit" />
				</form>
			</div>

			<!-- <script>
				check_progress(job_id, progress_bar);
			</script> -->
			<div id="progress_container">
				<div id="progress_bar"></div>
			</div>

			<div class="container">{% block result %} {% endblock %}</div>
		</main>
	</body>
</html>
