<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Experiment Management System</title>

		<!-- include jQuery -->
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

		<!-- include JavaScript file -->
		<script src="{{ url_for('static', filename='check_progress') }}"></script>
	</head>
	<body>
		<h1>Experiment Management System</h1>
		<main>
			<div>
				<form
					id="'newJob"
					action="{{url_for('experiment.add_job')}}"
					method="POST"
				>
					<label for="batch-size">Batch size</label>
					<input
						type="text"
						id="batch-size"
						name="batch-size"
						required
					/>

					<label for="learning-rate">Learning rate</label>
					<input
						type="text"
						id="learning-rate"
						name="learning-rate"
						required
					/>

					<label for="number-of-epochs">Number of epochs</label>
					<input
						type="text"
						id="number-of-epochs"
						name="number-of-epochs"
						required
					/>

					<input class="button1" value="Add job" type="submit" />
				</form>
			</div>

			<!-- <script>
				check_progress(job_id, progress_bar);
			</script> -->
			<div class="container">{% block result %} {% endblock %}</div>
		</main>
	</body>
</html>
